*.suo
bin/
obj/
*.user
.vs
Library/
Logs/
Temp/
UserSettings/
Output/
ILRuntimeDemo/Packages/packages-lock.json
ILRuntimeDemo/.vsconfig
/out

.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.code-workspace
*.bak
ILRuntimeDemo/Assets/XLua/Gen
ILRuntimeDemo/Assets/XLua/Gen.meta